apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-ingress-nginx
  namespace: kube-system
spec:
  valuesContent: |-
    controller:
      config:
        enable-modsecurity: "true"
        enable-owasp-modsecurity-crs: "true"
        modsecurity-snippet: |-
          SecRuleEngine On