domain "<Your Domain here>"
hetzner_token = "<Your Hetzner Cloud token>"
cloudflare_token = "<Your Cloudflare token>"
cloudflare_zone_id = "<Your Cloudflare zone ID>"
cloudflare_domain = "<Your Cloudflare domain>"
letsencrypt_issuer = "<Your Let's Encrypt issuer email>"
rancher_domain_prefix ="rancher"
rke2_version = "v1.26.11+rke2r1"
rancher_version = "2.7.9"